
.row
  .large-12.columns

    %h1
      ="#{@festival.name} #{@festival.editions.first.start_date.strftime("%m/%d/%Y")} to #{@festival.editions.first.end_date.strftime("%m/%d/%Y")}"
    %p
      =@festival.description

.artists-wrapper
  = render :partial => 'artists', :locals => { :artists => @artists }

.row
  .large-12-columns#gallery
    = link_to 'Load More Artists', festival_artists_path(@festival.id, :page => @artists.next_page), :class=>"load-more-artists", :remote => true if @artists.next_page
